
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: rgb(29, 35, 51);
$brand-info: #0cbbfc;
$brand-info2: #1e73be;
$brand-info3: #103040;
$brand-success-green: #4ecdc4;
$brand-warning: #ffe66d;
$brand-danger: #ff6b6b;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: rgba(241, 250, 238, 1);

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: rgba(241, 250, 238, 1);

//footer
$widget-icon-color: rgba(241, 250, 238, 1);
