
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.footer-widget {
  color: $widget-icon-color;
  display: inline-block;
  font-size: 24px;
}

.widget-icon {
  vertical-align: text-top;
}

.widget-text {
  vertical-align: top;
  margin-top: 5px;
  color: #ffffff;
  font-size:18px;
  font-family: 'Roboto';
}

.widget-text > br {
  line-height: 150%;
}

.widget-text > a {
  color: #ffffff;
}

.widget-text > a:hover {
  color: #48ceec;
}

#website-logo {
  width: 250px;
  height: auto;
  margin-top:-4px;
}

//Index
.companies-container {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari */
  -webkit-flex-wrap: nowrap; /* Safari */
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgba(#008dd5,0.3);
  justify-content: space-around;
  text-align:center;

  img {
    height: 10vh;
    max-width: 14%;
    width: auto;
    object-fit: contain;
  }
}

.center-vertical {
  vertical-align: middle;
  align-content: center;
  text-align: center;
}

.service-image {
  margin:auto;
  display:block;
}

#calculate-insurance-btn {
  font-size: large;
  padding: 10px;
}